name: Sync to Hugging Face Hub
on:
  push:
    branches: [HuggingFace-GPU]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://Inferencer:$HF_TOKEN@huggingface.co/spaces/Inferencer/LipSick HuggingFace-GPU
